---
import SocialLinks from '@/components/SocialLinks.astro';
import Logo from '@/components/Logo.astro'; 
---

<section class="container mx-auto px-8 py-16 text-center">
    
    <Logo class="w-24 h-auto mx-auto mb-6" /> 

    <h1 class="text-4xl sm:text-6xl font-black font-display text-white">
      Juan Cruz Perez
    </h1>
    <h2 class="mt-4 text-xl sm:text-2xl font-semibold text-neutral-300">
      Desarrollador Web Freelance
    </h2>
    <p class="mt-6 max-w-2xl mx-auto text-lg text-neutral-400">
      Ayudo a pequeñas empresas y comercios a conseguir más clientes y potenciar su imagen profesional a través de sitios web modernos, rápidos y fáciles de usar. Mi objetivo es brindar una solución digital que funcione, para que mis clientes puedan enfocarse en su negocio.
    </p>
    <div class="mt-8">
      <SocialLinks size={10}/> 
    </div>
</section>