---
import { Icon } from 'astro-icon/components';
---
<section class="container mx-auto px-8 py-20">
  <div class="text-center">
    <h2 class="text-3xl sm:text-4xl font-black text-neutral-300 text-center">
      Planes y Servicios
    </h2>
    <div class="mt-4 mb-8 w-24 h-1 bg-primary mx-auto rounded-full"></div>
    <p class="text-lg text-neutral-400 max-w-2xl mx-auto mb-16">
      Elegí el punto de partida que mejor se adapte a tu negocio. Todos los planes están enfocados en ofrecerte una solución profesional y de alto rendimiento. Además de los planes también ofrezco la posibilidad de crear tu proyecto totalmente a medida, adaptandome a tus necesidades.
    </p>
  </div>

  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8 max-w-6xl mx-auto">
    
    <div class="border border-neutral-700 rounded-xl p-8 flex flex-col">
      <h3 class="font-display font-bold text-xl text-white">Plan Inicial</h3>
      <p class="text-neutral-400 text-sm mt-1">Presencia Digital</p>
      <p class="text-4xl font-black text-white mt-6 mb-6">180.000 ARS<span class="block text-lg font-semibold text-neutral-500"> /por única vez</span></p>
      
      <ul class="space-y-4 text-neutral-300 flex-grow">
        <li class="flex items-center gap-3"><Icon name="mdi:check-circle" class="size-6 text-primary shrink-0" /> Sitio de 1 a 3 Página (Landing)</li>
        <li class="flex items-center gap-3"><Icon name="mdi:check-circle" class="size-6 text-primary shrink-0" /> Diseño Adaptable a Celulares</li>
        <li class="flex items-center gap-3"><Icon name="mdi:check-circle" class="size-6 text-primary shrink-0" /> Botón de Contacto</li>
        <li class="flex items-center gap-3"><Icon name="mdi:check-circle" class="size-6 text-primary shrink-0" /> SEO Básico Inicial</li>
      </ul>

      <a href="https://wa.me/5493489356690" class="mt-8 block w-full text-center bg-yellow-600 text-neutral-100 px-5 py-3 rounded-lg hover:bg-yellow-700 transition-colors font-black">
        Consultar
      </a>
    </div>

    <div class="border border-neutral-700 rounded-xl p-8 flex flex-col">
      <h3 class="font-display font-bold text-xl text-white">Plan Profesional</h3>
      <p class="text-neutral-400 text-sm mt-1">Sitio Web Completo</p>
      <p class="text-4xl font-black text-white mt-6 mb-6">300.000 ARS<span class="block text-lg font-semibold text-neutral-500"> /por única vez</span></p>

      <ul class="space-y-4 text-neutral-300 flex-grow">
        <li class="flex items-center gap-3"><Icon name="mdi:check-circle" class="size-6 text-primary shrink-0" /> Sitio de hasta 10 Páginas</li>
        <li class="flex items-center gap-3"><Icon name="mdi:check-circle" class="size-6 text-primary shrink-0" /> Diseño Adaptable a Celulares</li>
        <li class="flex items-center gap-3"><Icon name="mdi:check-circle" class="size-6 text-primary shrink-0" /> Formulario de Contacto</li>
        <li class="flex items-center gap-3"><Icon name="mdi:check-circle" class="size-6 text-primary shrink-0" /> SEO Básico Inicial</li>
        <li class="flex items-center gap-3"><Icon name="mdi:check-circle" class="size-6 text-primary shrink-0" /> Galería de Imágenes</li>
      </ul>

      <a href="https://wa.me/5493489356690" class="mt-8 block w-full text-center bg-yellow-600 text-neutral-100 px-5 py-3 rounded-lg hover:bg-yellow-700 transition-colors font-black">
          Consultar
      </a>
    </div>

    <div class="border border-neutral-700 rounded-xl p-8 flex flex-col">
      <h3 class="font-display font-bold text-xl text-white">Plan de Mantenimiento</h3>
      <p class="text-neutral-400 text-sm mt-1">Soporte y Actualizaciones</p>
      <p class="text-4xl font-black text-white mt-6 mb-6">30.000 ARS<span class="block text-lg font-semibold text-neutral-500"> /por mes</span></p>

      <ul class="space-y-4 text-neutral-300 flex-grow">
        <li class="flex items-center gap-3"><Icon name="mdi:check-circle" class="size-6 text-primary shrink-0" /> Monitoreo de Seguridad</li>
        <li class="flex items-center gap-3"><Icon name="mdi:check-circle" class="size-6 text-primary shrink-0" /> Backups Mensuales</li>
        <li class="flex items-center gap-3"><Icon name="mdi:check-circle" class="size-6 text-primary shrink-0" /> Soporte Prioritario</li>
        <li class="flex items-center gap-3"><Icon name="mdi:check-circle" class="size-6 text-primary shrink-0" /> Hasta 2hs de Cambios</li>
      </ul>

       <a href="https://wa.me/5493489356690" class="mt-8 block w-full text-center bg-yellow-600 text-neutral-100 px-5 py-3 rounded-lg hover:bg-yellow-700 transition-colors font-black">
        Consultar
      </a>
  </div>
</section>